# Ambiente Virtual do Python
venv/
.venv/

# Arquivos de cache e compilados do Python
__pycache__/
*.pyc

# Arquivos de configuração de IDEs
.vscode/
.idea/
*desktop.ini

# Pasta de dados
data/

# Pasta de build do Edge Impulse (se usar)
edge-impulse-sdk/